<link rel="stylesheet" href="style.css" />
<header>
  <nav>
    <div id="logo" class="navbar-section">
      <a href="/">ashbythorpe</a>
    </div>
    <div id="navbar-items" class="navbar-section">
      <a
        href="/"
        class="navbar-item"
        id="navbar-home"
        aria-label="Home"
      >
        <include src="../../icons/home.svg" class="icon" />
        <span>Home</span>
      </a>
      <a
        href="/contact/"
        class="navbar-item"
        id="navbar-contact"
        aria-label="Contact"
      >
        <include src="../../icons/info.svg" class="icon" />
        <span>Contact</span>
      </a>
      <a
        href="/projects/"
        class="navbar-item"
        id="navbar-projects"
        aria-label="Projects"
      >
        <include src="../../icons/code-bracket.svg" class="icon" />
        <span>Projects</span>
      </a>
      <a
        href="/blog/"
        class="navbar-item"
        id="navbar-blog"
        aria-label="Blog"
      >
        <include src="../../icons/pencil-square.svg" class="icon" />
        <span>Blog</span>
      </a>
    </div>
    <div id="github-container" class="navbar-section">
      <div id="github-border">
        <a
          href="https://github.com/ashbythorpe"
          class="text-black-700 hover:text-black-900"
          aria-label="GitHub"
        >
          <include src="../../icons/github.svg" class="github-icon" />
        </a>
      </div>
    </div>
  </nav>
</header>
