<link rel="stylesheet" href="style.css" />
<header>
  <nav>
    <div id="logo" class="navbar-section">
      <a href="/index.html">ashbythorpe</a>
    </div>
    <div id="navbar-items" class="navbar-section">
      <a
        href="/index.html"
        class="navbar-item"
        id="navbar-home"
        aria-label="Home"
      >
        <home-icon></home-icon>
        <span>Home</span>
      </a>
      <a
        href="/about/index.html"
        class="navbar-item"
        id="navbar-about"
        aria-label="About me"
      >
        <info-icon></info-icon>
        <span>About me</span>
      </a>
      <a
        href="/projects/index.html"
        class="navbar-item"
        id="navbar-projects"
        aria-label="Projects"
      >
        <code-bracket-icon></code-bracket-icon>
        <span>Projects</span>
      </a>
      <a
        href="/blog/index.html"
        class="navbar-item"
        id="navbar-blog"
        aria-label="Blog"
      >
        <pencil-square-icon></pencil-square-icon>
        <span>Blog</span>
      </a>
    </div>
    <div id="github-container" class="navbar-section">
        <a
          href="https://github.com/ashbythorpe"
          class="text-black-700 hover:text-black-900"
          aria-label="GitHub"
        >
          <github-icon class="w-6 h-auto"></github-icon>
        </a>
      </div>
  </nav>
</header>
