a {
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}

header {
	background-color: var(--color-black-100);
	z-index: 50;
	position: sticky;
	top: 0;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	height: 100%;
	align-items: center;

	.navbar-section {
		flex: 1;
	}
}

#logo {
	flex-shrink: 0;
	display: block;

	a {
		flex: 0;
		font-family: var(--font-mono);
		font-size: 1.25rem;
		color: var(--color-black-600);
		text-decoration-line: underline;
		text-decoration-color: var(--color-black-100);

		&:hover {
			transition-property: color, text-decoration-color;
			transition-timing-function: ease-in-out;
			transition-duration: 300ms;
			color: var(--color-cerise-red-700);
			text-decoration-color: var(--color-energy-yellow-300);
		}
	}
}

#navbar-items {
	justify-self: center;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	flex-grow: 2;
	margin-inline: auto;

	.navbar-item {
		display: flex;
		align-items: center;
		border-radius: 0.375rem;
		padding-inline: 0.25rem;
		padding-block: 0.5rem;
		font-weight: 500;
		text-wrap: nowrap;

		&.selected {
			background-color: rgb(from var(--color-black-700) r g b / 0.1);
		}

		&:hover {
			text-decoration-line: underline;
			background-color: rgb(from var(--color-black-700) r g b / 0.15);
		}

		home-icon, info-icon, code-bracket-icon, pencil-square-icon {
			height: 1.5rem;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}


		span {
			margin-left: 0.5rem;
			display: none;
		}
	}
}

#github-container {
	display: flex;
	justify-content: end;
	align-items: center;

	#github-border {
		height: 100%;
	}

	a {
		color: var(--color-black-700);
		text-align: center;
		display: flex;
		align-items: center;

		&:hover {
			color: var(--color-black-900);
		}

		github-icon {
			margin-block: auto;
			height: 1.5rem;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

@media (min-width: 48rem) {
	#navbar-items {
		gap: 1.5rem;

		.navbar-item {
			span {
				display: block;
			}
		}
	}

	#github-border {
		padding-left: 1rem;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: oklch(70.7% 0.022 261.325);
	}
}
