[Unit]
Description=My Go API Backend
After=network-online.target

[Container]
ContainerName=web
Image=localhost/ashbythorpe-backend:latest
EnvironmentFile=%h/ashbythorpe.com/backend/.env
Volume=/mnt/sqlite-data:/data
LogDriver=json-file
PublishPort=127.0.0.1:3000:3000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
